html{
  
}
body {
	 background-image: url("../images/logo.jpg");
	padding:0;
	margin:0;
	background-color:#ecf0f1;
	
	}
.testbox {
  margin: 120px auto;
  width: 343px; 
  height: 200px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  border: solid 1px #cbc9c9;
}
form{
  margin: 0 30px;
}

input{
  width: 200px; 
  height: 35px; 
  background-color: #fff; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}
input[type="checkbox"] {
	width:20px;
	height:15px;
	background-color:#fff;
	 margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: blue;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  color:white;
  
}
#button{
	background-color:blue;
	color:white;
	font-size:20px;
	margin-left:20px;
}




